.pageWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  padding: 1em;
}

.modalDeatils {
  display: block;
  width: 300px;
}

.vehicleItemBox {
  max-width: 100em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  margin: auto;
  min-height: 50em;
  padding: 3em 1em 1em 1em;
  box-sizing: border-box;
}

.vehicleItem {
  cursor: pointer;
  width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: stretch;
  background-color: #ffffff;
  margin: 0.6em;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.imgContainer {
  width: 100%;
  height: 15em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  z-index: 1;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}

.imgContainer img {
  display: block;
  max-width: 100%;
  height: auto;
}

.textContainer {
  width: 100%;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.makeTitle {
  letter-spacing: 0.07em;
}

.otherTitles {
  color: #888888;
}

@media only screen and (max-width: 880px) {
  .imgContainer {
    height: 8em;
  }
}
